.blog-post-title{
    color: $puff-primary;
    font-weight: bold;
    text-transform: uppercase;
    a{
        color: $puff-primary;
    }
}

.blog-post-meta{
    font-size: 0.8rem;
    color: #888;
    font-style: italic;
}