<nav class="nav">
    <div class="container">
        <div class="nav__inner">
            <div class="nav__logo">
                <em>my</em><b>Store</b>
            </div>
            <div class="nav__links">
                <ul class="nav__list">
                    <li class="nav__link">
                        <a [routerLink]="['/']" class="nav__action">Home</a>
                    </li>
                    <li class="nav__link">
                        <a [routerLink]="['/about']" class="nav__action">About</a>
                    </li>
                    <li class="nav__link">
                        <a [routerLink]="['/shop']" class="nav__action">Shop</a>
                    </li>
                    <li class="nav__link">
                        <a [routerLink]="['/contact']" class="nav__action">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>